<div class="jumbotron">
<div class="container">
  <div class="bckground">
<H1>About Us - King Mog</H1>

<p> <div>
       <h3>About KingMog</h3>
        <p>
        KingMog is a portal for providing the latest news pertaining to Final Fantasy XIV.
        </p>
        <p>
         This website comes in handy when you need to complete challenges, are looking for handy macros, sharing strategies on beating the latest boss, obtaining gear and would like to know the best gear combination for that weapon.
        </p>
</p></div>
    </div>

