<!DOCTYPE html>
<div class="jumbotron">
    <div class="container">
        <html lang="en">

        <head>
            <meta charset="utf-8" />
            <title>King Mog</title>

            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
            <link rel="stylesheet" href="application.css">

            <!-- Latest compiled and minified JavaScript -->
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        </head>

        <body>
            <div class="bckground">
                <h1>King Mog</h1>
                <p>Welcome to King Mog. Your source for all things in Eorzea</p>

                <div class="row">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4">
                        
                            <button class="btn btn-info">Guides</button>
                       
                            <button class="btn btn-warning">Macros</button>
                        </a>
                            <button class="btn btn-danger">Duties</button>
                        </a>
                            <button class="btn btn-success">General</button>
                    </div>
                    </a>
                    <!-- <div class="col-xs-4">Right section</div>-->
        </body>
        </div>
        </div>
        
        </html>
        <!-- Jahmal & Jimmy Development-->